.background {

}

.background-item {
  width: 60px;
  box-shadow: 0 3px 7px 2px;
  position: relative;
  animation: loopBackground 1s linear infinite;
}

.background-item .header{
  background-color: lightgreen;
  height: 20px;
}
.background-item .body {
  background-color: rosybrown;
  height: 50px;
}

@keyframes loopBackground {
  from {
    background-position: 60px 0;
    left: 60px;
  }

  to {
    background-position: 0 0;
    left: 0px;
    width: 80px;
  }
}
